/* ========================================
            Xtra Large device start
======================================== */

@media only screen and (min-width: 1200px) and (max-width: 1399.99px)   {
    /* ===============================
              Banner part start
    ================================== */

    .carousel-caption {
        position: absolute;
        bottom: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        top: 54%;
    }

    .banner-subtitle {
        padding: 0 200px;
    }

    /* ===============================
              Banner part end
    ================================== */

    /* ===============================
        Our Package part start
    ==================================  */
    .package-title {
        font-size: 1.74rem;
    }

    .package-subtitle {
        padding-right: 22px;
    }

    .package-btn {
        padding: 13px 57px;
    }

    /* ===============================
        Our Package part end
    ================================== */


}

/* ========================================
            Xtra Large device start
======================================== */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* ===============================
              Banner part start
    ================================== */

    .carousel-caption {
        position: absolute;
        bottom: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        top: 54%;
    }

    .banner-title {
        padding: 0 100px;
        margin-bottom: 10px;
    }

    .banner-subtitle {
        padding: 0 100px;
    }

    /* ===============================
              Banner part end
    ================================== */

    /* ===============================
        Our Package part start
    ==================================  */

    .package-item {
        margin-bottom: 50px;
    }

    /* ===============================
        Our Package part end
    ================================== */

    /* ===============================
            Clint part start
    ==================================  */

    .card {
        margin-bottom: 50px;
        padding: 20px;
    }

    /* ===============================
            Clint part end
    ==================================  */




}

/* ========================================
            Large device end
======================================== */


/* ========================================
            Medium device start
======================================== */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    /* ===============================
              Navbar part start
    ================================== */

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    /* ===============================
              Navbar part end
    ================================== */

    /* ===============================
              Banner part start
    ================================== */

    .carousel-caption {
        position: absolute;
        bottom: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        top: 54%;
    }

    .banner-title {
        padding: 0 50px;
        margin-bottom: 10px;
    }

    .banner-subtitle {
        padding: 0 56px;
    }

    /* ===============================
              Banner part end
    ================================== */

    /* ===============================
        Moment precious part start
    ================================== */
    .moment-precious {
        margin: 50px 0;
    }

    .moment-title {
        font-size: 1.73rem;
        line-height: 36px;
        margin-bottom: 8px;
    }

    .moment-para {
        padding-right: 0;
        margin-bottom: 10px;
    }


    /* ===============================
        Moment precious part end
    ================================== */

    /* ===============================
        Our Package part start
    ==================================  */
    .our-package {
        margin-bottom: 0px;
    }

    .package-header {
        margin-bottom: 50px;
    }

    .package-item {
        margin-bottom: 50px;
    }

    /* ===============================
        Our Package part end
    ================================== */

    /* ===============================
            Clint part start
    ==================================  */

    .clint {
        margin-bottom: 0px;
    }

    .card {
        margin-bottom: 50px;
        padding: 20px;
    }

    .card-text {
        padding: 0;
    }

    /* ===============================
            Clint part end
    ==================================  */




}


/* ========================================
            Medium device end
======================================== */



/* ========================================
            Small device start
======================================== */

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    /* ===============================
              Navbar part start
    ================================== */

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    /* ===============================
              Navbar part end
    ================================== */

    /* ===============================
              Banner part start
    ================================== */

    .carousel-caption {
        position: absolute;
        bottom: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        top: 54%;
    }

    .banner-title {
        font-size: 1.85rem;
        padding: 0 70px;
        margin-bottom: 10px;
    }

    .banner-subtitle {
        padding: 0;
    }

    /* ===============================
              Banner part end
    ================================== */

    /* ===============================
        Moment precious part start
    ================================== */
    .moment-precious {
        margin: 50px 0;
    }

    .moment-title {
        font-size: 1.188rem;
        line-height: 28px;
    }

    .moment-para {
        padding-right: 0;
    }

    .next-booking {
        top: 0px;
        right: -20%;
        transform: translateX(-50%);
    }

    .mobile-album {
        margin: auto;
        margin-top: 20px;
    }

    /* ===============================
        Moment precious part end
    ================================== */

    /* ===============================
        Our Package part start
    ==================================  */
    .our-package {
        margin-bottom: 0px;
    }

    .package-header {
        margin-bottom: 50px;
    }

    .package-item {
        margin-bottom: 50px;
    }

    .package-title {
        font-size: 1.52rem;
    }

    .package-subtitle {
        padding-right: 0;
    }

    .package-btn {
        padding: 13px 49px;
    }

    /* ===============================
        Our Package part end
    ================================== */

    /* ===============================
            Clint part start
    ==================================  */

    .clint {
        margin-bottom: 0px;
    }

    .card {
        margin-bottom: 50px;
        padding: 20px;
    }

    .card-text {
        padding: 0;
    }

    /* ===============================
            Clint part end
    ==================================  */

    /* ===============================
            FAQ part start
    ==================================  */

    .faq {
        margin-bottom: 50px;
    }

    /* ===============================
            FAQ part end
    ==================================  */





}


/* ========================================
            Small device end
======================================== */

/* ========================================
        Extra small device start
======================================== */

@media only screen and (max-width: 575.98px) {
    /* ===============================
              Navbar part start
    ================================== */

    .navbar-brand {
        font-size: 15px !important;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    /* ===============================
              Navbar part end
    ================================== */

    /* ===============================
              Banner part start
    ================================== */

    .carousel-caption {
        position: absolute;
        bottom: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        top: 54%;
    }

    .banner-title {
        font-size: 1.5rem;
        padding: 0;
        margin-bottom: 10px;
    }

    .banner-subtitle {
        font-size: 1rem;
        padding: 0;
    }

    /* ===============================
              Banner part end
    ================================== */

    /* ===============================
        Moment precious part start
    ================================== */
    .moment-precious {
        margin: 50px 0;
    }

    .moment-title {
        font-size: 1.188rem;
        line-height: 28px;
    }

    .moment-para {
        padding-right: 0;
    }

    .next-booking {
        top: -8px;
        right: -20%;
        transform: translateX(-50%);
    }

    .mobile-album {
        margin: auto;
        margin-top: 20px;
    }

    /* ===============================
        Moment precious part end
    ================================== */

    /* ===============================
        Our Package part start
    ==================================  */
    .our-package {
        margin-bottom: 0px;
    }

    .package-item {
        margin-bottom: 50px;
    }

    /* ===============================
        Our Package part end
    ==================================  */

    /* ===============================
            Clint part start
    ==================================  */

    .clint {
        margin-bottom: 0px;
    }

    .card {
        margin-bottom: 50px;
    }

    .card-text {
        padding: 0;
    }

    /* ===============================
            Clint part end
    ==================================  */

    /* ===============================
            FAQ part start
    ==================================  */

    .faq {
        margin-bottom: 50px;
    }

    /* ===============================
            FAQ part end
    ==================================  */

}


/* ========================================
        Extra small device end
======================================== */